@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Poppins:wght@300;400;600&family=Sacramento&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('dashain.jpg');
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}
h1{
    font-weight: normal;
    font-size: 4rem;
    margin: 15rem 22rem 0 0;
}
.countdown-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 22rem 0 0;
}
.big-text{
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
    font-weight: bold;
}
.countdown-bb{
    text-align: center;
}
.countdown-bb span{
font-size: 1.5rem;
}

@media only screen and (max-width:450px){
    body{
       background-image: url('responsiveDashain.jpg');
       background-size: cover;
       height: 100vph;
    }
    h1{
        font-size: 3rem;
        margin-left: 15rem;
    }
    .countdown-container{
        margin-left: 10rem;
    }
    .big-text{
        font-size: 4rem;
    }
}